<div class="off">
  <br>
  <br>
<div class="top">

<div class="row">

  <div class="col-md-8 col-sm-6 col-xs-12">
<h1>About us</h1>
<p>We understand the challenges of hosting events. Synchronizing and meeting tight deadlines can take away all the joy from the event for the Host.</p>
<p>
  Nyotaah, the idea, was born to take the pain out of hosting events. Nyotaah is a unique concept that takes the daily grind away from the Host's shoulders to manage the micro and macro activities of the event.

</p>
<p>Designed in the digital world, with a few clicks, Nyotaah offers everything needed to host a successful event. The event could be a two people getting together for a Pizza or a thousand people Wedding or a ten-thousand-person Corporate Event. Be it a School or College Event, a Wedding or a Birthday, a Personal Gathering, a Concert or an invite for Dandiya, a Sporting Event or an invite to just</p>
  

</div>
  <div class="col-md-4 col-sm-6 col-xs-12">

<div class="row">
<div clas="col-md-12 col-sm-6 col-xs-12">
  
  <img src="../assets/images/top1.jpg.png" class="img-responsive"  width="350px"/></div>
<br>
<div clas="col-md-12 col-sm-6 col-xs-12"><img src="../assets/images/top2.png" class="img-responsive"  width="350px"/></div>


</div>

  </div>
</div>
<div class="upnav" style="position: relative;top:-90px">
<div><h4>Thinking of hosting an Event- Think Nyotaah!</h4></div>
<div class="row">

  <div class="col-md-6 col-sm-6 col-xs-12">
  
    <img src="../assets/images/top3.png" class="img-responsive cam"   width="500px"/></div>
  <div class="col-md-6 col-sm-6 col-xs-12"><img src="../assets/images/top4.png" class="img-responsive cad" width="290px"/></div>
  </div>
</div>
  </div >
  <br>
  <br>
</div>



<div class="live">
  <br>
  <br>
<div class="same">
  <div class="row">
<div class="col-md-5 col-sm-6 col-xs-12"><img src="../assets/images/low1.png" class="img-responsive" width="400px"/></div>
<div class="col-md-7 col-sm-6 col-xs-12" >
<h2>Invitations to send</h2>
<p>Noytaah invites you to a great opportunity with our humongous genre design template library, in 26 Indian languages, antl tones a. moods to suit every occasion antl moment of your life and events.
  Management of RSVP
  Real-time GPS tracking of the callers (Coming) Mt.! Logistics Support Providers (Coming)
  </p>
</div>
</div>
</div>
<div class="same">
  <div class="row">
  <div class="col-md-7 col-sm-6 col-xs-12">
    <h2>Enablers for event preparation</h2>
    <p>Plan your way, or choose a pre-designed scheduling template. Rich in features such </p>
    <p>Expense tracking (Coming)
      socil media synchronination—Guesdst sync with Facebook, email Multia management enabler-Access enabled and managed by co-managers
      </p>
  </div>
  <div class="col-md-5 col-sm-6 col-xs-12"><img src="../assets/images/low1.png" class="img-responsive" width="400px"/></div>
</div>
</div>
<div class="same">
  <div class="row">
  <div class="col-md-5 col-sm-6 col-xs-12"><img src="../assets/images/low1.png" class="img-responsive" width="400px"/></div>
  <div class="col-md-7 col-sm-6 col-xs-12">
  <h2>Main Event and Sub-Events</h2>
  <p>Sub-evernts with an event like functionality</p>
  <p>Guest segregation event wise
    Easy expense management as per the </p>
  </div>
  </div>
</div>
  <div class="same">
    <div class="row">
    <div class="col-md-7 col-sm-6 col-xs-12">
      <h2>Enablers for event preparation</h2>
      <p>Plan your way, or choose a pre-designed scheduling template. Rich in features such as:
        Expense tracking (Coming)
        social media synchronization—erre.. sync with Facebook, email
        Multi management enabler -Access enabled and managed by co-managers
         </p>
      
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12"><img src="../assets/images/low1.png" class="img-responsive" width="400px"/></div>
  </div>
</div>
  <div class="same">
    <div class="row">
    <div class="col-md-5 col-sm-6 col-xs-12"><img src="../assets/images/low1.png" class="img-responsive" width="400px"/></div>
    <div class="col-md-7 col-sm-6 col-xs-12">
    <h2>Main Event and Sub-Events</h2>
    <p>Sub-evernts with an event like functionality</p>
    <p>Guest segregation event wise
      Easy expense management as per the </p>
    </div>
    </div>
  </div>
    <div class="same">
      <div class="row">
      <div class="col-md-7 col-sm-6 col-xs-12">
        <h2>Enablers for event preparation</h2>
        <p>Plan your way, or choose a pre-designed scheduling template. Rich in features such as:
          Expense tracking (Coming)
          social media synchronization—erre.. sync with Facebook, email
          Multi management enabler -Access enabled and managed by co-managers
           </p>
        
      </div> 
      <div class="col-md-5 col-sm-6 col-xs-12"><img src="../assets/images/low1.png" class="img-responsive" width="400px"/></div>
    </div>
  </div>
    <div class="same">
      <div class="row">
      <div class="col-md-5 col-sm-6 col-xs-12 "><img src="../assets/images/low1.png" class="img-responsive" width="400px"/></div>
      <div class="col-md-7 col-sm-6 col-xs-12">
      <h2>Main Event and Sub-Events</h2>
      <p>Sub-evernts with an event like functionality</p>
      <p>Guest segregation event wise
        Easy expense management as per the </p>
      </div>
      </div>
    </div>
      <div class="same">
        <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
          <h2>Enablers for event preparation</h2>
          <p>Plan your way, or choose a pre-designed scheduling template. Rich in features such as:
            Expense tracking (Coming)
            social media synchronization—erre.. sync with Facebook, email
            Multi management enabler -Access enabled and managed by co-managers
             </p>
          
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12"><img src="../assets/images/low1.png" class="img-responsive" width="400px"/></div>
      </div>
    </div>
      <div class="space"></div>
<div class="footer">
  <div class="row">
<div class="col-md-6 col-sm-6 col-xs-12"> <div class="_1GTrm1"><a class="_3CuAg8" href="#">Terms of use </a>
  <a class="_3CuAg8" href="#">Privacy policy</a></div></div>
  <div class="col-md-6 col-sm-6 col-xs-12"> <span class="fot">Copyright © Nyotaah 2020.A11 rights reserved</span></div>
</div>
</div>
</div>




<router-outlet></router-outlet>